apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "api_base": "https://litellm.sit.q3.questech.io",
      "api_key": "YOUR_LITELLM_API_KEY"
    }
